#---------------------------------#
#      general configuration      #
#---------------------------------#
version: 1.0.{build}-{branch}

# branches to build
branches:
  # whitelist
  # only:
  #   - master
  # blacklist
  except:
    - gh-pages



#---------------------------------#
#    environment configuration    #
#---------------------------------#
# Build worker image (VM template)
image: Visual Studio 2017

# clone directory
clone_folder: c:\projects\lassert

# fetch repository as zip archive
shallow_clone: true



#---------------------------------#
#       build configuration       #
#---------------------------------#
platform:
 - x86
 - x64
 
 

#---------------------------------#
#       tests configuration       #
#---------------------------------#
before_test:
 - cd tests\c\classert
 - dir
 - cd c:\projects\lassert\tests\c\classert\debug

test_script:
 - CLAssert.exe -nt > out.txt || set errorlevel=0
 - set errorlevel=
 - echo N | comp out.txt ..\..\..\win_ref.txt